.icon {
    border-radius: 12px;
    padding: 4px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    justify-content: center;
    // background: url(iconUrl) no-repeat center center;
}