@import '../stepper.scss';

::ng-deep .mat-reduced-height .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-reduced-height .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-reduced-height .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

mat-expansion-panel {
    margin-top: 20px;
}

.root {
    width: 100%;
    .location-select-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .location-select-item {
            width: 100%;
            .label {
                color: black;
            }
            .location-select {
                width: 100%;
            }
        }
    }

    .location-input-wrap {
        width: 100%;
        .location-input-item {
            width: 100%;
        }
    }

    .location-hint {
        color: darkgray;
    }
}

.pricing-wrap{
    max-width: 720px;
    padding-top: 40px;
    .flex-table {
        width: 100%;
        
        .flex-table-row{
            display: flex;
            .cell{
                width: 100%;
                padding: 0px 20px;
                // border: 1px solid black;
                .input-field {
                    width: 100%;
                }

                &.first {
                    padding-left: 0px;
                }
                &.last {
                    padding-right: 0px;
                }
            }
        }
    }
}


.payment-methods-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    
    & > app-checkbox-payment {
        margin: 10px 20px;
    }
}
