<form class="step-form" [formGroup]="pricingLocationForm">
    <div class="step-form-body">
        <div class="step-form-body-section" [class.error]="pricingLocationForm.get('location').errors && formSubmitted" formGroupName="location">
            <div class="step-form-body-section-header">
                <div class="title"><span class="number">7</span>What is the Location?</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('conflict') && formSubmitted">Enter either an address or choose a City Venue</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('locationEmpty') && formSubmitted">Please fill in the required fields</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('venueEmpty') && formSubmitted">Please select a Venue</div>
            </div>
            <div class="step-form-body-section-body">

                <div class="root">
                    <div class="location-select-wrap">
                        <div class="location-select-item" style="margin-right: 15px;">
                            <div class="label-wrap">
                                <div class="label">Select City</div>
                            </div>
                            <mat-form-field appearance="outline" class="mat-reduced-height location-select">
                                <mat-select formControlName="city" (selectionChange)="cityChange($event)">
                                    <mat-option value="">City</mat-option>
                                    <mat-option *ngFor="let location of locations" value="{{location.city}}">{{ location.city }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="location-select-item" style="margin-left: 15px;">
                            <div class="label-wrap">
                                <div class="label" [class.hint-on]="venueHintDisplayState">Select Venue</div>
                                <div class="hint" [class.show]="venueHintDisplayState">Select a City first</div>
                            </div>
                            <mat-form-field appearance="outline" class="mat-reduced-height location-select" (click)="showVenueHint()">
                                <mat-select formControlName="venue">
                                    <mat-option *ngFor="let venue of getVenuesByCity()" value="{{venue}}">{{ venue }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="location-input-wrap">
                        <div class="label">Or type address if did not find any</div>
                        <mat-form-field appearance="outline" class="mat-reduced-height location-input-item">
                            <input matInput type="text" autocomplete="off" formControlName="address">
                        </mat-form-field>
                    </div>
                    <div class="location-hint">
                        If you are a Venue Manager you can <span style="color:var(--theme-color)">Create</span> your Venue.<br>
                        After approval you will find your locations her in <span style="color:black">Menu -> Venue</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="step-form-body-section" formGroupName="payment" [class.error]="pricingLocationForm.get('payment').errors && formSubmitted">
            <div class="step-form-body-section-header">
                <div class="title"><span class="number">8</span>What is the price?</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('payment').hasError('paymentTypeEmpty') && formSubmitted">Please specify if it is a free or paid event.</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('payment').hasError('paymentPricingEmpty') && formSubmitted">Please specify at least one pricing.</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('payment').hasError('pricingFieldEmpty') && formSubmitted">Please fill in all the pricing fields.</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('payment').hasError('paymentMethodEmpty') && formSubmitted">Please choose at least one payment method.</div>
            </div>
            <div class="step-form-body-section-body">

                    
                    
                    <app-toggle leftText="Free" rightText="Paid" [select]="(eventData) ? (eventData.payment.type) : 'Paid'" (onChange)="setPaymentType($event)"></app-toggle>
                    
                    <mat-expansion-panel [expanded]="paymentPanelOpenState">

                    <div class="section-subheading">How many different pricing?</div>
                    <app-counter [default]="(eventData) ? (eventData.payment.pricing.length) : 1" max="3" (onChange)="pricingCountChanged($event)"></app-counter>
                    
                    <div class="pricing-wrap">
                        <div class="flex-table" formArrayName="pricing">
                            <div class="flex-table-row" *ngIf="pricingLocationForm.get('payment').get('pricing').value.length!==0">
                                <div class="cell first">Ticket Name</div><div class="cell">Price</div><div class="cell last">Currency</div>
                            </div>
                            <div class="flex-table-row" *ngFor="let item of pricingLocationForm.get('payment').get('pricing')['controls']; let i=index;" [formGroupName]="i">
                                <div class="cell first">
                                    <mat-form-field appearance="outline" class="mat-reduced-height input-field">
                                        <input matInput type="text" autocomplete="off" formControlName="ticket_name">
                                    </mat-form-field>
                                </div>
                                <div class="cell">
                                    <mat-form-field appearance="outline" class="mat-reduced-height input-field">
                                        <input matInput type="text" autocomplete="off" formControlName="price">
                                    </mat-form-field>
                                </div>
                                <div class="cell last">
                                    <mat-form-field appearance="outline" class="mat-reduced-height input-field">
                                        <mat-select formControlName="currency">
                                            <mat-option value="Indian Rupees">Indian Rupees</mat-option>
                                            <mat-option value="Mauritian Rupees">Mauritian Rupees</mat-option>
                                            <mat-option value="US Dollar">US Dollar</mat-option>
                                            <mat-option value="Euro">Euro</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-subheading">Which credit cards do you access?</div>

                    <div class="payment-methods-wrap">
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Mastercard')" name="Mastercard" cardImgSrc="../../../assets/payment-cards/mastercard.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Visa')" name="Visa" cardImgSrc="../../../assets/payment-cards/visa.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('American Express')" name="American Express" cardImgSrc="../../../assets/payment-cards/ameriacan-express.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Cirrus')" name="Cirrus" cardImgSrc="../../../assets/payment-cards/cirrus.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Discover')" name="Discover" cardImgSrc="../../../assets/payment-cards/discover.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Paypal')" name="Paypal" cardImgSrc="../../../assets/payment-cards/paypal.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Shopify')" name="Shopify" cardImgSrc="../../../assets/payment-cards/shopify.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                        <app-checkbox-payment [checked]="paymenyMethodPresent('Western Union')" name="Western Union" cardImgSrc="../../../assets/payment-cards/western-union.png" (onChecked)="paymentMethodChecked($event)"></app-checkbox-payment>
                    </div>

                    </mat-expansion-panel>

            </div>
        </div>
    </div>
    <div class="footer-btn">
        <button type="button" mat-stroked-button matStepperPrevious color="primary">Back</button>
        <div class="footer-right">
            <button type="button" mat-raised-button matStepperNext color="primary" (click)="test()">Next</button>
        </div>
    </div>
</form>