<form class="step-form" [formGroup]="pricingLocationForm">
    <div class="step-form-body">
        <div class="step-form-body-section" [class.error]="pricingLocationForm.get('location').errors && formSubmitted" formGroupName="location">
            <div class="step-form-body-section-header">
                <div class="title"><span class="number">7</span>What is the Location?</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('conflict') && formSubmitted">Enter either an address or choose a City Venue</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('locationEmpty') && formSubmitted">Please fill in the required fields</div>
                <div class="section-error" *ngIf="pricingLocationForm.get('location').hasError('venueEmpty') && formSubmitted">Please select a Venue</div>
            </div>
            <div class="step-form-body-section-body">

                <div class="root">
                    <div class="location-select-wrap">
                        <div class="location-select-item" style="margin-right: 15px;">
                            <div class="label">Select City</div>
                            <mat-form-field appearance="outline" class="mat-reduced-height location-select">
                                <mat-select formControlName="city" (selectionChange)="cityChange($event)">
                                    <mat-option *ngFor="let location of locations" value="{{location.city}}">{{ location.city }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="location-select-item" style="margin-left: 15px;">
                            <div class="label">Select City</div>
                            <mat-form-field appearance="outline" class="mat-reduced-height location-select">
                                <mat-select formControlName="venue">
                                    <mat-option *ngFor="let venue of getVenuesByCity()" value="{{venue}}">{{ venue }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="location-input-wrap">
                        <div class="label">Or type address if did not find any</div>
                        <mat-form-field appearance="outline" class="mat-reduced-height location-input-item">
                            <input matInput type="text" autocomplete="off" formControlName="address">
                        </mat-form-field>
                    </div>
                    <div class="location-hint">
                        If you are a Venue Manager you can <span style="color:var(--theme-color)">Create</span> your Venue.<br>
                        After approval you will find your locations her in <span style="color:black">Menu -> Venue</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="step-form-body-section">
            <div class="step-form-body-section-header">
                <div class="title"><span class="number">8</span>What is the price?</div>
            </div>
            <div class="step-form-body-section-body">
                <div>
                    <app-toggle leftText="Free" rightText="Paid" [select]="(eventData) ? (eventData.payment.type) : ''" (onChange)="setPaymentType($event)"></app-toggle>
                    <div class="section-subheading">How many different pricing?</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btn">
        <button type="button" mat-stroked-button matStepperPrevious color="primary">Back</button>
        <div class="footer-right">
            <button type="button" mat-raised-button matStepperNext color="primary" (click)="test()">Next</button>
        </div>
    </div>
</form>