<div class="home-root">
    <div class="home-top-menu-wrap">
        <app-top-menu></app-top-menu>
    </div>
    <div class="home-body-wrap">
        <app-event-list></app-event-list>
        
        <div class="home-body-content-wrap">
            <div class="home-body-content-placeholder" *ngIf="showPlaceholder">
                <h1>Create or Edit Events</h1>
            </div>
            <router-outlet (activate)="routerActivate($event)" (deactivate)="routerDeactivate($event)"></router-outlet>
        </div>
    </div>
</div>
<!-- <p>home works!</p>
<button mat-raised-button color="primary">Basic</button> -->