.home-root {
    width: 100%;
    .home-body-wrap {
        // background-color: aqua;
        display: flex;
        // width: 100%;
        padding: 15px 0px;
    
        .home-body-content-wrap {
            padding: 15px;
            background-color: #eaedf2;
            width: 100%;
        }
    }
}