<div class="root">
    <div class="wrapper">
        <div class="logo-wrap" routerLink="/">
            <img class="logo" src="../../../assets/logo/logo.png">
        </div>

        <div class="center">
            <div class="search-box-wrap">
                <app-search-box></app-search-box>
            </div>
        </div>

        <div class="right">
            <div class="icon-wrap">
                <mat-icon svgIcon="notification" matBadge="2" matBadgeColor="warn" matBadgeSize="small" matTooltip="Notifications"></mat-icon>
                <!-- <app-icon src="../../../assets/icons/notifications-black-18dp.svg"></app-icon> -->
            </div>

            <div class="profile-pic-wrap">
                <img class="profile-pic" src="../../../assets/imgs/sample_profile_pic.jpeg" matTooltip="Profile">
            </div>

            <div class="create-event-btn" routerLink="create" matTooltip="Create a new event">
                <span>• CREATE EVENT</span>
            </div>

            <div class="icon-wrap">
                <mat-icon svgIcon="reorder" matTooltip="Settings"></mat-icon>
                <!-- <app-icon src="../../../assets/icons/reorder-black-24dp.svg"></app-icon> -->
            </div>
            
        </div>
    </div>

    <div class="bottom-border"></div>
</div>
