<div class="root">
    <div class="wrapper">
        <div class="logo-wrap">
            <img class="logo" src="../../../assets/logo/logo.png">
        </div>

        <div class="search-box-wrap">
            <app-search-box></app-search-box>
        </div>

        <div class="right">
            <div class="notification-wrap">
                <app-icon src="../../../assets/icons/notifications-black-18dp.svg"></app-icon>
            </div>

            <div class="profile-pic-wrap">
                <img class="profile-pic" src="../../../assets/imgs/sample_profile_pic.jpeg">
            </div>

            <div class="create-event-btn">
                <span>• CREATE EVENT</span>
            </div>

            <div class="settings-wrap">
                <app-icon src="../../../assets/icons/reorder-black-24dp.svg"></app-icon>
            </div>
            
        </div>
    </div>

    <div class="bottom-border"></div>
</div>
