
<mat-horizontal-stepper linear style="border-radius:15px;">

    <mat-step label="General Information" [stepControl]="generalInfoForm">
        <app-general-info [eventData]="updateEvent" (form)="setGeneralForm($event)"></app-general-info>
    </mat-step>

    <!--=============================================================================================================================================================================================================================-->
    <mat-step label="Pricing and Location" [stepControl]="pricingLocationForm">
        <app-pricing-location [eventData]="updateEvent" (form)="setPricingLocationForm($event)"></app-pricing-location>
    </mat-step>

    <!--=============================================================================================================================================================================================================================-->

    <mat-step label="Additional Information" [stepControl]="additionalInfoForm">
        <app-additional-info [eventData]="updateEvent" (form)="setAdditionalInfoForm($event)"></app-additional-info>
    </mat-step>

     <!--=============================================================================================================================================================================================================================-->

    <mat-step label="Summary">
        <app-summary 
            [eventData]="updateEvent"
            [generalInfoFormValues]="(generalInfoForm) ? generalInfoForm.value : null"
            [pricingLocationFormValues]="(pricingLocationForm) ? pricingLocationForm.value : null"
            [additionalInfoFormValues]="(additionalInfoForm) ? additionalInfoForm.value : null"
            ></app-summary>
    </mat-step> 

</mat-horizontal-stepper>
