<div class="date-input-head">
    <div class="head-item">
        <mat-form-field appearance="outline" style="width:300px">
            <mat-select [(value)]="occurence" (selectionChange)="occurenceChange($event)">
              <mat-option *ngFor="let item of occurences" value="{{item.occurence}}">{{ item.occurence }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="head-item" *ngIf="occurence!=''">
        <mat-form-field appearance="outline" style="width:300px">
            <mat-select [(value)]="occurence_date" (selectionChange)="occurenceDateChange($event)">
              <mat-option *ngFor="let item of getOccurenceDates()" value="{{item}}">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="date-input-body">
    <div class="date-input-range">
        <mat-form-field class="date-input-range-item" appearance="outline">
            <mat-label>Starts</mat-label>
            <input matInput [matDatepicker]="startdate" [value]="start_date" autocomplete="off" (dateChange)="startDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
            <mat-datepicker #startdate></mat-datepicker>   
        </mat-form-field>
    
        <mat-form-field class="date-input-range-item" appearance="outline">
            <mat-label>Ends By</mat-label>
            <input matInput [matDatepicker]="enddate" [value]="end_date" autocomplete="off" (dateChange)="endDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
            <mat-datepicker #enddate></mat-datepicker>   
        </mat-form-field>
    </div>
    
</div>