<div class="event-card-root" routerLinkActive="active">
    <div class="event-card-wrapper">
        <div class="profile-pic-wrap">
            <img class="profile-pic" [src]="eventOrganizerProfilePicPath">
        </div>

        <div class="content-wrap">
            <div class="content-header">
                <div class="content-header-title">
                    <div class="content-event-title" routerLinkActive="active">{{ eventTitle }}</div>
                    <div class="content-event-organizer" routerLinkActive="active">{{ eventOrganizer }}</div>
                </div>
                <div class="event-time" routerLinkActive="active">{{ eventDate |  date: 'MMM d, y'}}</div>
            </div>
            <div class="content-details" routerLinkActive="active">{{ eventOverview }}</div>
        </div>
    </div>
</div>
