/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --theme-color: #4c9bfb;
    --theme-color-light: #a5cdfd;
    --theme-color-dark: #0169da;
}
