/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --theme-color: #4c9bfb;
    --theme-color-light: #a5cdfd;
    --theme-color-dark: #0169da;
}


.timepicker {
    .timepicker__header {
      background-color: var(--theme-color) !important;
      input:focus {
        outline: none;
      }
    }
  
    .clock-face__clock-hand {
      background-color: var(--theme-color) !important;
  
      &::after {
        background-color: var(--theme-color) !important;
      }
  
      &::before {
        border-color: var(--theme-color) !important;
      }
    }
  
    .clock-face__number {
      > span.active {
        background-color: var(--theme-color) !important;
      }
    }
  
    button:not(.timepicker-dial__item) {
      color: var(--theme-color) !important;
    }
  }


